.location__detail {
    &__card {
        margin-top: 32px;
    }

    @media  screen and (max-width: 376px) {
        &__flex {
            flex-wrap: wrap;
        }
    }
    
}

.card__detail {
    &__flex {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 40%;
        border: 1px solid #00000020;
        height: 100%;
        margin-bottom: 32px;
        margin-right: 30px;

        @media  screen and (max-width: 376px) {
            width: 100%;
        }
    }


    &__imageOne {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/locate.png);
    }

    &__image {
        height: 224px;
        background-position: 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        text-align: left;
        font: normal normal normal 24px/36px Noto Sans;
        letter-spacing: 0px;
        color: #212529;
        border-bottom: 1px solid #00000020;
        padding: 12px 24px;
        font-weight: bold;
    }

    &__icon {
        width: 21px;
        height: 21px;
        margin-right: 12px;
        vertical-align: middle;
    }

    &__text {
        padding: 24px;
    }

    &__button {
        background: #000000 0% 0% no-repeat padding-box;
        width: 100%;
        color: #fff;
        font: normal normal normal 19px/26px Noto Sans;
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: pointer;
        display: block;
        text-align: center;
    }

    &__map {
        width: 60%;
        @media  screen and (max-width: 376px) {
            width: 100%;
        }
    }
}